html, body, main, section, header, ul, p {
  display: block;
  margin: 0; padding: 0;
  font-size: 13px;
  font-family: 'Calibri', 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'sans-serif';
}

ul {
  padding-bottom: .5em;
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 0em;
}

h3 {
  font-size: 14px;
  display: inline-block;
  margin: 0;
}

a {
  color: #0064BD;
  text-decoration: none;
}

a:visited {
  color: #7B0796;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid #B3B3B3;
}

main {
  margin: 0 auto;
  padding: 15px;
  max-width: 700px;
}

li {
  margin-left: 2em;
}

p, li {
  clear: both;
  text-align: justify;
}

.tenure {
  float: right;
  font-style: italic;
  display: inline-block;
}

main > header {
  width: 100%;
}

#contact > div {
  margin-left: 10px;
}

span.fa {
  float: left;
  margin-right: .5em;
  text-align: left;
}

span.fa-lg {
  line-height: 1.2em;
}

section > div {
  clear: both;
  margin-bottom: .25em;
}

span.keywords {
  color: gray;
  text-align: right;
  font-size: 10px;
}

.column-1 {
  display:inline-block;
  width: 48%;
}

.column-2 {
  display:inline-block;
  width: 48%;
}

.name {
  margin-bottom: .33em;
  padding-bottom: .33em;
  font-size: 22px;
}

.skill-set {
  padding-top: .4em;
  padding-bottom: .4em;
}

.columnwrapper {
  display: flex;
}